.DS_Store
*.lyx~
tmp
recycle

Fig/Src/*.log
Fig/Src/*.*
!Fig/Src/*.tex
!Fig/Src/*.tikz
Fig/Src/DJACS220NotesFigTmp.*
!Fig/Src/DJACS220NotesFigTmp.tex
Fig/Src/gnuplot
Fig/gnuplot

Ref/Inverted\ Pendulum