.DS_Store
*.lyx~
tmp
recycle

Fig/Src/*.log
Fig/Src/DJACS220NotesFig.*
!Fig/Src/DJACS220NotesFig.tex
Fig/Src/DJACS220NotesFigTmp.*
!Fig/Src/DJACS220NotesFigTmp.tex
Fig/Src/gnuplot
Fig/gnuplot

Ref/Inverted\ Pendulum