.DS_Store
*.lyx~
tmp
recycle

*Noteson*.*
!Noteson*.tex
!Noteson*.lyx

Fig/Src/*.log
Fig/Src/*.*
!Fig/Src/*.tex
!Fig/Src/*.tikz
Fig/Src/DJACS220NotesFigTmp.*
!Fig/Src/DJACS220NotesFigTmp.tex
Fig/Src/gnuplot
Fig/gnuplot
Fig/pdf

Code/*.*
!Code/*.m

Ref/Inverted\ Pendulum
Ref/Maglev
Ref/TRMS